/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #004C66;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: White;
    height: 100%;
    width: 100%;
}

img
{
    border: none;
}

.Content
{
    height: auto !important; /* ie6 ignores !important, so this will be overridden below */
    min-height: 100%; /* ie6 ignores min-height completely */
    height: 100%;
}

.menuEsquerdo
{
    width: 260px;
    background-image: url('../../Imagens/Barra1.png');
    background-repeat: repeat-y;
    float: left;
    min-height: 100%;
}

.LogoOrc
{
    width: 200px;
}

.menuDireito
{
    left: 260px;
    width: 80%;
    float: left;
    position: absolute;
}

.header_grid
{
    padding: 5px;
    background-color: #002a80;
}

#Titulos
{
    padding: 5px 5px 5px 15px;
    border: 2px solid #267597;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.detalhesPagina
{
    padding-left: 20px;
}

.tituloPagina
{
    color: White;
    font-size: 26px;
}

caption
{
    width: 725px;
    height: 30px;
    border-bottom: 1px solid #054f85;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    background: #004C66;
}

hr
{
    border: none;
    border-bottom: 2px solid #267597;
}

tr
{
    vertical-align: top;
}

.PanelAlteracao
{
    border-left: 2px solid #267597;
    border-bottom: 2px solid #267597;
    padding-left: 5px;
    height: 100%;
    background-color: #0d455e;
}

.TabelaContent
{
    border: 2px solid #267597;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;    
}

/* Botões
----------------------------------------------------------*/
.ButtonSalvar
{
    background-image: url('../../Imagens/Save.png');
    background-repeat: no-repeat;
    background-color: transparent;
    height: 48px;
    border: none;
    color: White;
    font-weight: bolder;
    cursor: pointer;
}

.ButtonCancelar
{
    background-image: url('../../Imagens/Cancel.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 48px;
    height: 48px;
    border: none;
    color: White;
    font-weight: bolder;
    cursor: pointer;
}

.ButtonNovo
{
    background-image: url('../../Imagens/New.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 48px;
    height: 48px;
    border: none;
    color: White;
    font-weight: bolder;
    cursor: pointer;
}

.ButtonImportar
{
    background-image: url('../../Imagens/Importar.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 48px;
    height: 48px;
    border: none;
    color: White;
    font-weight: bolder;
    cursor: pointer;
}

.ButtonOK
{
    background-image: url('../../Imagens/Ok_32x32.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 48px;
    height: 48px;
    border: none;
    color: White;
    font-weight: bolder;
    cursor: pointer;
}

/* PopUp Modal
----------------------------------------------------------*/

.modalBackground
{
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopup
{
    background-color: #004C66;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 10px; /*min-height: 450px;*/
    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
}

.header_popup
{
    height: 30px;
    border-bottom: 1px solid #054f85;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

/*Mensagens Panel
----------------------------------------------------------*/
.pnlMensagem .Content
{
    background: #004C66;
    width:400px;
    min-height:300px;
    border: 2px solid White;
    
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;    
    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
}

.pnlMensagem .Content .Titulo
{
    font-weight:bold;
    text-align:left;
    padding-left:10px;
    padding-top:5px;
    color:White;
    min-height:25px;
    
    border-radius-topleft: 20px;
    border-radius-topright: 20px;
    -moz-border-radius: 20px 20px;
    -webkit-border-top-left-radius: 20px;    
    -webkit-border-top-right-radius: 20px;    
    
    
background: rgb(0,76,102); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,76,102,1) 0%, rgba(0,91,117,1) 49%, rgba(0,76,102,1) 53%, rgba(0,91,117,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,76,102,1)), color-stop(49%,rgba(0,91,117,1)), color-stop(53%,rgba(0,76,102,1)), color-stop(100%,rgba(0,91,117,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,76,102,1) 0%,rgba(0,91,117,1) 49%,rgba(0,76,102,1) 53%,rgba(0,91,117,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,76,102,1) 0%,rgba(0,91,117,1) 49%,rgba(0,76,102,1) 53%,rgba(0,91,117,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,76,102,1) 0%,rgba(0,91,117,1) 49%,rgba(0,76,102,1) 53%,rgba(0,91,117,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,76,102,1) 0%,rgba(0,91,117,1) 49%,rgba(0,76,102,1) 53%,rgba(0,91,117,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c66', endColorstr='#005b75',GradientType=0 ); /* IE6-9 */





}

.pnlMensagem .Content .Mensagem
{
    margin: 5px 5px 0px 5px;
    background-color:White;
    color:Black;
    min-height:235px;
    vertical-align:middle;
    text-align:center;
}
.pnlMensagem .Content .Botao
{
    padding: 10px 10px 0px 10px;
    text-align:right;
    height:45px;
}


/* Accordion*/

.accordionHeader
{
}

.accordionHeaderSelected
{
}

.accordionContent
{
}

/*---------------------------------------------*/
#div-login-content
{
    width: 100%;
    height: 100%;
    color: #666666;
}

#div-login
{
    width: 480px;
    height: 250px;
    position: absolute;
    margin-left: -310px;
    margin-top: -185px;
    left: 50%;
    top: 50%;
    
    
    border-radius-topleft: 30px;
    border-radius-bottomright: 30px;
    -moz-border-radius: 30px 30px;
    -webkit-border-bottom-left-radius: 30px;    
    -webkit-border-top-right-radius: 30px;    
    
    
    /*background: rgb(0,76,102); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(0,76,102,1) 0%, rgba(0,91,117,1) 49%, rgba(0,76,102,1) 53%, rgba(0,91,117,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,76,102,1)), color-stop(49%,rgba(0,91,117,1)), color-stop(53%,rgba(0,76,102,1)), color-stop(100%,rgba(0,91,117,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(0,76,102,1) 0%,rgba(0,91,117,1) 49%,rgba(0,76,102,1) 53%,rgba(0,91,117,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(0,76,102,1) 0%,rgba(0,91,117,1) 49%,rgba(0,76,102,1) 53%,rgba(0,91,117,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(0,76,102,1) 0%,rgba(0,91,117,1) 49%,rgba(0,76,102,1) 53%,rgba(0,91,117,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(0,76,102,1) 0%,rgba(0,91,117,1) 49%,rgba(0,76,102,1) 53%,rgba(0,91,117,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c66', endColorstr='#005b75',GradientType=0 ); /* IE6-9 */
    background-image: url('../../Imagens/finance.jpg');
    background-position:right bottom;
    background-repeat:no-repeat;
    background-color:Black;
    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.80);
}

.botaoLogin
{
    background-image: url('../../Imagens/Login-60.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border: none;
    color: White;
    font-weight: bolder;
}

.botaoLogin:hover
{
    cursor: pointer;
    background-image: url('../../Imagens/Login-60-2.png');
}