<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringControleFinanceiro" connectionString="Data Source=192.168.21.5;Initial Catalog=ControleFinanceiroDB;Persist Security Info=True;User ID=sa;Password=sistema123*/" providerName="System.Data.SqlClient"/>
	  <add name="ConnectionStringCobNet" connectionString="Data Source=192.168.20.168;Initial Catalog=CobnetDB;Persist Security Info=True;User ID=CobnetID;Password=CobID357" providerName="System.Data.SqlClient"/>
	  <add name="ConnectionStringControleAcesso" connectionString="Data Source=192.168.20.168;Initial Catalog=ControleAcesso;Persist Security Info=True;User ID=CobnetID;Password=CobID357" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
